/* configuraciones  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fondoOscuro: #1b2127;
    --naranja: #fa7921;
    --clr: #222327;
    --black: #282623;
}
::-webkit-scrollbar {
    width: 8px; 
    height: 30%;    /* Tamaño del scroll en vertical */
     /*height: 8px;    Tamaño del scroll en horizontal */
    /*display: none;   Ocultar scroll */
}
::-webkit-scrollbar-thumb {
    background: #1b2127;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #455768;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* -------------- Fin configuraciones----------- */
/* ----------   Menú flotante   ---------- */
.nav-flotante{
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
}
.nav-container{
    position: relative;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 10px;
    background: white;
}
.nav-container ul{
    width: 90%;
    display: flex;
}
.nav-container ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.nav-container ul li a{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}
.nav-container ul li a .nav-icon{
    position: relative;
    display: block;
    text-align: center;
    line-height: 75px;
    font-size: 2.4rem;
    transition: 0.5s;
    color: var(--clr);
}
.nav-container ul li.active a .nav-icon{
    transform: translateY(-32px);
}
.nav-container ul li a .nav-text{
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing:0.08rem;
    color: var(--clr);
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.nav-container ul li.active a .nav-text{
    opacity: 1;
    transform: translateY(10px);
}
.indicator{
    position: absolute;
    top: -50%;
    left: 3.59%;
    width: 70px;
    height: 70px;
    background: var(--naranja);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.fondo{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 81px;
    border-radius: 5px;
    background-color: var(--fondoOscuro);
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 30px;
    box-shadow: 1px -10px 0 0 var(--fondoOscuro);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -1px -10px 0 0 var(--fondoOscuro);
}
.nav-container ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.nav-container ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(57.59px * 1));
}
.nav-container ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(57.59px * 2));
}
.nav-container ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(57.59px * 3));
}
.nav-container ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(57.59px * 4));
}
/* ----------   Fin Menú flotante   ---------- */
/* ----------   Header   ---------- */
.header{
    width: 100%;
    margin: -1px;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background-color: var(--fondoOscuro);
}
.logo-img{
    width: 150px;
    height: 40px;
    margin: 0 auto;
}
.hero{
    width: 100%;
    height: auto;
    background-color: var(--fondoOscuro);
    padding: 0 20px 30px 20px;
}
h1{
    width: 100%;
    font-size: 2.4rem;
    letter-spacing: -.2px;
    line-height: 1.5;
    color: white;
}
h1 strong{
    color: teal;
}
/* ----------  Fin Header   ---------- */


/* ----------   Skills  ---------- */
.skill-container{
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    background-color: var(--fondoOscuro);
}
.skill-list {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: #272e34;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.16);
}
.skill-list--items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skill-list--items li{
    position: relative;
    width: 45%;
    margin:10px 5px;
    padding: 5px 10px;
    border: 1px solid #fa7921;
    border-radius: 8px;
}
/* ----------  Fin Skills   ---------- */


/* ----------   Footer   ---------- */
footer{
    width: 100%;
    height: auto;
    padding-bottom: 110px;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: var(--fondoOscuro);
}
.footer-text{
    padding: 20px 0;
    font-size: 1.6rem;
}
.social-link{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social-link.linkedin{
    background-image: url('../img/linkedin.svg');
}
.social-link.twitter{
    background-image: url('../img/twitter.svg');
}
.social-link.facebook{
    background-image: url('../img/facebook.svg');
}
.social-link.instagram{
    background-image: url('../img/instagram.svg');
}
.social-link.github{
    background-image: url('../img/github.svg');
}
.corazon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    background-image: url("../img/corazon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}
.corazon {
	font-size: 150px;
	animation: latidos 1s infinite;
}
/* ----------   Footer   ---------- */