.hero{
    padding: 50px;
}
h1{
    font-size: 3.5rem;
}
h2 {
    font-size: 2.4rem;
    margin-left: 50px;
}
.project-imageContainer{
    display: flex;
    justify-content: center;
}
.project-container .project-details{
    width: 500px;
    margin: 0 auto;
}
.event-list{
    width: 500px;
    margin: 0 auto;
}
.event-title--select{
    left: -21px;
}


.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portfolio .container h2{
    width: 100%;
}
.project-container{
    width: 45%;
}
.project-container .project-details {
    width: 100%;
}

.event-list-titulo{
    margin: 30px 0;
}